/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

img {
  width: 100%; }

.heading--big {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold; }
  @media only screen and (max-width: 56.25em) {
    .heading--big {
      font-size: 3.3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading--big {
      font-size: 2.7rem; } }

.heading--standerd {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold; }
  @media only screen and (max-width: 56.25em) {
    .heading--standerd {
      font-size: 2.7rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading--standerd {
      font-size: 2.5rem; } }

.heading--small {
  font-size: 2rem;
  text-transform: capitalize;
  color: #3a3a3a;
  font-weight: 600; }

.heading--section {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(to right, #ee173b, #ec3c59);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }
  @media only screen and (max-width: 56.25em) {
    .heading--section {
      font-size: 3.5rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading--section {
      font-size: 3rem; } }

.para-1 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.534);
  line-height: 1.5;
  letter-spacing: 1px; }
  @media only screen and (max-width: 56.25em) {
    .para-1 {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .para-1 {
      font-size: 1.6rem; } }

.span--1 {
  color: #ebe70e; }

.span--2 {
  color: yellowgreen; }

.m-1 {
  margin: 1rem; }

.my-1 {
  margin: 1rem 0; }

.m-2 {
  margin: 2rem; }

.my-2 {
  margin: 2rem 0; }

.m-3 {
  margin: 3rem; }

.my-3 {
  margin: 3rem 0; }

.m-4 {
  margin: 4rem; }

.my-4 {
  margin: 4rem 0; }

.m-5 {
  margin: 5rem; }

.my-5 {
  margin: 5rem 0; }

.u-text-center {
  text-align: center; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  overflow: hidden; }
  .btn::before, .btn:link::before, .btn:visited::before {
    content: "";
    position: absolute;
    top: 0;
    border-radius: 10rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0093e9;
    background-image: linear-gradient(171.8deg, #194658 13.5%, #2a6477 78.6%);
    transform: translateX(-100%);
    transition: all 0.4s; }
  .btn:hover::before, .btn:link:hover::before, .btn:visited:hover::before {
    transform: translateX(0%);
    z-index: -1; }
  .btn:active, .btn:link:active, .btn:visited:active {
    transform: scale(0.95); }

.btn__pink {
  background: #f01439;
  color: white; }

.btn__yellow {
  background: rgba(142, 145, 19, 0.993);
  color: #fcf9f9; }

.btn__black {
  background: rgba(15, 15, 15, 0.993);
  color: #fcf9f9; }

.showcase {
  color: white;
  font-weight: 700; }
  .showcase__text {
    display: flex;
    justify-content: center;
    height: 80%;
    flex-direction: column;
    margin-top: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .showcase__text {
        text-align: center; } }
  .showcase__btn-2 {
    margin-left: 1rem; }
  @media only screen and (max-width: 56.25em) {
    .showcase__image {
      display: none; } }

.about {
  margin-top: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .about {
      margin-top: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .about {
      margin-top: 4.5rem; } }
  .about__description {
    margin: 1.4rem 0rem;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: #8a8fa3; }
  .about__ul {
    font-size: 1.5rem; }
  .about__item {
    margin-bottom: 1.3rem; }
  .about__span {
    color: #615f5f; }

.progress {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .progress {
      width: 100%; } }
  .progress__skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    color: #333;
    font-weight: 700; }
  .progress__line {
    width: 100%;
    height: 0.8rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    position: relative; }
  .progress__amount {
    position: absolute;
    height: 100%;
    border-radius: 1rem; }
    .progress__amount--1 {
      background-color: #e44d26;
      width: 90%; }
    .progress__amount--2 {
      background-color: #264de4;
      width: 80%; }
    .progress__amount--2 {
      background-color: #264de4;
      width: 80%; }
    .progress__amount--3 {
      background-color: #f3d932;
      width: 70%; }
    .progress__amount--4 {
      background-color: #563d7c;
      width: 85%; }
    .progress__amount--5 {
      background-color: #cd6799;
      width: 75%; }

.service {
  margin-top: 15rem; }
  @media only screen and (max-width: 56.25em) {
    .service {
      margin-top: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .service {
      margin-top: 4.5rem; } }
  .service__item:hover .service__title {
    color: #f5f3f3; }
  .service__item:hover .service__details {
    color: lightgray; }
  .service__item:hover .service__icon {
    transform: rotateY(360deg);
    color: white; }
  .service__btn {
    margin-top: 5rem; }
  .service__item {
    text-align: center;
    background-color: white;
    padding: 4rem 2rem;
    border-radius: 20px;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    transition: all 1s; }
    .service__item--2, .service__item--5 {
      margin-top: -6rem; }
      @media only screen and (max-width: 56.25em) {
        .service__item--2, .service__item--5 {
          margin-top: 0rem; } }
    .service__item--num {
      position: absolute;
      top: 13px;
      right: 15px;
      color: white;
      font-weight: 700;
      font-size: 3rem; }
    .service__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255, 255, 255, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
      background-blend-mode: multiply;
      clip-path: circle(50px at 95% 4%);
      border-radius: 20px;
      transition: all 1s; }
    .service__item:hover::before {
      clip-path: circle(1000px at 95% 4%);
      z-index: -10; }
    .service__item:hover {
      box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.5);
      transform: translateY(-10px); }
  .service__title {
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    color: #333;
    transition: all 1s;
    z-index: 1; }
  .service__details {
    position: relative;
    z-index: 1;
    font-size: 1.5rem;
    line-height: 1.4;
    color: rgba(87, 86, 86, 0.575);
    z-index: 1;
    transition: all 1s; }
  .service__icon {
    position: relative;
    z-index: 1;
    font-size: 7rem;
    color: #ff1d43;
    z-index: 1;
    transition: all 1s; }

.portfolio {
  margin-top: 7rem; }
  @media only screen and (max-width: 37.5em) {
    .portfolio {
      margin-top: 4.5rem; } }
  .portfolio__item {
    overflow: hidden;
    transition: all 0.5s; }
    .portfolio__item:hover {
      transform: translateY(-10px); }
  .portfolio__image {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; }
    .portfolio__image-text {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 98%;
      transform: scale(0);
      transition: all 0.4s; }
      .portfolio__image-text--1 {
        background: rgba(238, 255, 5, 0.7); }
      .portfolio__image-text--2 {
        background: rgba(83, 83, 243, 0.7); }
      .portfolio__image-text--3 {
        background: rgba(210, 105, 30, 0.7); }
      .portfolio__image-text--4 {
        background: rgba(30, 210, 105, 0.7); }
      .portfolio__image-text--5 {
        background: rgba(228, 29, 56, 0.7); }
      .portfolio__image-text--6 {
        background: rgba(210, 30, 156, 0.7); }
    .portfolio__image:hover .portfolio__image-text {
      transform: scale(1); }
  .portfolio__btn-div {
    text-align: center;
    margin: 3rem 0rem; }
    @media only screen and (max-width: 37.5em) {
      .portfolio__btn-div {
        margin: 2rem 0rem; } }
  .portfolio__btn {
    display: inline-block;
    padding: 1rem 1.3rem;
    border: none;
    outline: none;
    background: #135670;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 5px;
    transition: all 0.5s ease; }
    .portfolio__btn:hover {
      color: white;
      background: #000; }

.pricing-section {
  margin-top: 10rem;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .pricing-section {
      margin-top: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .pricing-section {
      margin-top: 4.5rem; } }

.table {
  background: white;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 35px 0px; }
  .table--2 {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 35px 0px; }
    @media only screen and (max-width: 75em) {
      .table--2 {
        transform: scale(1); } }
  .table__heading {
    padding: 5rem 1rem;
    color: white; }
    .table__heading--1 {
      background-image: radial-gradient(circle 732px at -23.9% -25.1%, #1e276b 6.1%, #bc688e 100.2%); }
    .table__heading--2 {
      background-image: radial-gradient(circle 597px at 93% 9.8%, #ff3d59 1.7%, #fcfb2c 97%); }
    .table__heading--3 {
      background-image: linear-gradient(89.8deg, #de4a4a 4.7%, #1e1d1d 120.3%); }
  .table__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: -3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.37); }
  .table__price {
    font-size: 5rem;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
    margin-top: 3rem; }
    .table__price-sm {
      font-size: 1.6rem;
      text-transform: uppercase; }
  .table__ul {
    margin: 3rem 0rem;
    font-size: 1.7rem; }
  .table__item {
    margin-top: 1.5rem;
    color: #777777;
    text-transform: capitalize;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-left: 6rem;
    text-align: justify; }
    @media only screen and (max-width: 37.5em) {
      .table__item {
        margin-bottom: 3rem; } }
  .table__icon {
    margin-right: 1rem;
    color: #212fec; }

.slider {
  max-width: 100%;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s; }

.slider__btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  border: none;
  background: rgba(211, 206, 206, 0.151);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
  transition: all 0.3s; }
  .slider__btn:hover {
    background: rgba(224, 224, 224, 0.575); }

.dots {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: flex; }

.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */ }

.dots__dot:last-child {
  margin: 0; }

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #888;
  opacity: 1; }

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%); }

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%); }

.review {
  transition: all 1s;
  background: rgba(235, 233, 233, 0.178);
  text-align: center;
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 10px; }
  .review:hover {
    background: orangered; }
  .review:hover .review__image img {
    border: 5px solid white; }
  .review:hover .review__text {
    color: white; }
  .review:hover .review__person {
    color: white; }
  .review:hover .review__person-work {
    color: white; }
  .review__image {
    margin: 0 auto;
    margin: 30px 0px;
    display: inline-block; }
    .review__image img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 5px solid orangered;
      transition: all 1s; }
  .review__text {
    width: 60%;
    margin: auto;
    font-size: 1.6rem;
    color: #777777;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 1.4rem;
    transition: all 1s; }
  .review__person {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;
    transition: all 1s; }
    .review__person-work {
      color: #303030;
      text-transform: capitalize;
      font-size: 1.4rem;
      margin-top: 5px;
      font-weight: 700;
      transition: all 1s;
      margin-bottom: 3rem; }

.blog {
  margin-top: 10rem; }
  @media only screen and (max-width: 56.25em) {
    .blog {
      margin-top: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .blog {
      margin-top: 4.5rem; } }
  .blog__item {
    box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s; }
    .blog__item:hover {
      transform: translateY(-10px); }
  .blog__body {
    padding: 3rem 1rem; }
    @media only screen and (max-width: 37.5em) {
      .blog__body {
        padding: 3rem 3rem; } }
  .blog__image {
    transition: all 0.5s; }
    .blog__image img {
      transition: all 0.5s; }
  .blog__item:hover .blog__title {
    color: #ec6868; }
  .blog__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #5f5f5f;
    text-transform: uppercase;
    font-weight: 700; }
  .blog__title {
    font-size: 1.6rem;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 2rem;
    transition: all 0.5s; }
  .blog__footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .blog__comment {
    margin-bottom: 1rem;
    font-size: 1.4rem;
    color: #5f5f5f;
    text-transform: uppercase;
    font-weight: 700; }
  .blog__btn {
    display: inline-block;
    background: orangered;
    padding: 0.7rem 1rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 700;
    transition: all 0.4s;
    border-radius: 5px; }
    .blog__btn:hover {
      background: black;
      transform: translateX(10px); }
  .blog__icon {
    color: #ff006a;
    margin-right: 3px; }

.contact {
  margin-top: 10rem;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .contact {
      margin-top: 7rem; } }
  @media only screen and (max-width: 37.5em) {
    .contact {
      margin-top: 4.5rem; } }
  .contact__info {
    background-image: linear-gradient(94.3deg, #1a2140 10.9%, #515473 87.1%);
    color: white;
    padding: 2rem;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px; }
    @media only screen and (max-width: 56.25em) {
      .contact__info {
        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; } }
  .contact__heading {
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 4rem 0rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    margin-left: 2rem; }
  .contact__flex {
    display: flex;
    height: 100%;
    width: 100%;
    margin-bottom: 3rem; }
  .contact__social {
    width: 80%;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-size: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .contact__social {
        width: 100%; } }
    .contact__social-icon {
      margin-left: 3rem;
      color: rgba(255, 255, 255, 0.5);
      transition: all 0.3s;
      cursor: pointer; }
      .contact__social-icon:hover {
        color: white; }
  .contact__icon-box {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #ff006a;
    margin-right: 2rem; }
  .contact__icon {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 2rem; }
  .contact__heading-big {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 0.6rem;
    color: rgba(255, 255, 255, 0.5); }
  .contact__heading-sm {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300; }
  .contact__from-group {
    background-color: #d4d4d4;
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; }
    @media only screen and (max-width: 56.25em) {
      .contact__from-group {
        border-radius: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; } }
  .contact__form {
    margin-left: 3rem;
    width: 80%;
    overflow: hidden; }
  .contact__name-flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .contact__name-flex {
        grid-template-columns: 1fr;
        gap: 0; } }
  .contact__btn {
    margin-left: 3rem;
    margin-top: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .contact__btn {
        margin-left: 3rem;
        margin-top: 2rem;
        margin-bottom: 2rem; } }
  .contact__input {
    display: inline-block;
    padding: 1.5rem 2rem;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 3rem;
    border-radius: 5px; }

.preloader {
  background: #021725 url(../img/pl.gif) no-repeat center center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 30000; }

.top-bottom {
  position: fixed;
  right: 5%;
  bottom: 15%;
  font-size: 3rem;
  background-color: black;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  z-index: 10000; }

.top-bottom.top-bottom__show {
  display: flex; }

.top-bottom__link {
  color: #d4d4d4; }

.footer {
  padding: 7rem 5rem;
  background: #10103f;
  text-align: center; }
  .footer__title {
    font-size: 2rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.685);
    text-transform: capitalize;
    margin-top: 0.5rem; }
  .footer__icon-box {
    margin-bottom: 3rem; }
  .footer__icon {
    color: white;
    font-size: 3rem;
    transition: all 0.4s;
    cursor: pointer;
    display: inline-block; }
    .footer__icon:hover {
      color: #f81f43;
      transform: scale(1.1); }
    .footer__icon:not(:first-child) {
      margin-left: 2rem; }
  .footer__footer {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.37);
    margin-top: 3rem; }

.row-header-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  gap: 5rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row-header-2 {
      grid-template-columns: 1fr;
      gap: 1rem; } }

.row-about-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  gap: 3rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row-about-2 {
      grid-template-columns: 1fr;
      gap: 5rem; } }

.row-service-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  gap: 3rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row-service-3 {
      grid-template-columns: 1fr 1fr;
      gap: 5rem;
      width: 95%; } }
  @media only screen and (max-width: 37.5em) {
    .row-service-3 {
      grid-template-columns: 1fr;
      gap: 5rem;
      width: 100%; } }

.row-portfolio-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  gap: 3rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row-portfolio-3 {
      grid-template-columns: 1fr 1fr;
      width: 95%; } }
  @media only screen and (max-width: 37.5em) {
    .row-portfolio-3 {
      grid-template-columns: 1fr;
      width: 100%; } }

.row-price-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  gap: 0rem;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .row-price-3 {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      width: 95%; } }
  @media only screen and (max-width: 37.5em) {
    .row-price-3 {
      grid-template-columns: 1fr;
      gap: 3rem;
      width: 100%; } }

.row-blog-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  gap: 3rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row-blog-3 {
      grid-template-columns: 1fr 1fr;
      gap: 3rem;
      width: 95%; } }
  @media only screen and (max-width: 37.5em) {
    .row-blog-3 {
      grid-template-columns: 1fr;
      gap: 3rem;
      width: 100%; } }

.row-random {
  display: grid;
  grid-template-columns: 1.3fr 3fr;
  width: 85%;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row-random {
      grid-template-columns: 1fr;
      width: 100%; } }

.header {
  height: 100vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  background-color: #171717;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23171717' stroke-width='0.4' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(40.9) translate(-975.55 -731.66)'%3E%3Cuse fill='%231c1c1c' href='%23s' y='2'/%3E%3Cuse fill='%231c1c1c' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23202020' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23202020' href='%23s'/%3E%3Cuse fill='%23252525' href='%23s' x='2'/%3E%3Cuse fill='%23252525' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(40.9) translate(-975.55 -731.66)'%3E%3Cg fill='%232a2a2a'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(40.9) translate(-975.55 -731.66)'%3E%3Cg fill='%232a2a2a'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(40.9) translate(-975.55 -731.66)'%3E%3Cg fill='%232e2e2e'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(40.9) translate(-975.55 -731.66)'%3E%3Cg fill='%23171717'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23333333'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(40.9) translate(-975.55 -731.66)'%3E%3Cg fill='%23ff7617'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(40.9) translate(-975.55 -731.66)'%3E%3Cg fill='%23ff7617'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(196 1000 750) scale(40.9) translate(-975.55 -731.66)'%3E%3Cg fill='%23ff7617'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; }
  @media only screen and (max-width: 56.25em) {
    .header {
      height: 75vh; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%); } }

.circle--animation {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(245, 7, 106, 0.281);
  border-radius: 50%;
  margin-bottom: 3rem;
  animation: updown 1.2s ease infinite;
  animation-direction: alternate-reverse;
  object-fit: fill; }

@keyframes updown {
  0% {
    transform: scale(0.3); }
  100% {
    transform: scale(1); } }

.navigation__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(110.3deg, #232e3a 8.8%, #324050 95.1%);
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
  z-index: 1000; }
  .navigation__overlay__show {
    transform: translateX(0); }

.navigation__burger {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 40;
  cursor: pointer;
  z-index: 1001;
  animation: heartBeat 0.8s ease-in infinite alternate-reverse; }

.navigation__burger > div {
  width: 40px;
  height: 5px;
  background-color: #a19f01;
  margin-bottom: 4px;
  transition: all 0.3s; }

.navigation__toggle .navigation__burger-1 {
  transform: rotate(-135deg) translate(-5px, -6px); }

.navigation__toggle .navigation__burger-2 {
  opacity: 0; }

.navigation__toggle .navigation__burger-3 {
  transform: rotate(135deg) translate(-6px, 8px); }

.navigation .nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center; }
  .navigation .nav__item {
    text-align: center; }
    .navigation .nav__item:not(:last-child) {
      margin-bottom: 3rem; }
  .navigation .nav__link {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    text-transform: uppercase;
    transition: all 0.4s;
    position: relative; }
    .navigation .nav__link::before {
      content: "";
      width: 20px;
      height: 15px;
      position: absolute;
      left: 25px;
      bottom: 10px;
      border: 4px solid #d30c6f;
      border-width: 0 0 2px 2px;
      transition: all 0.3s;
      opacity: 0; }
    .navigation .nav__link::after {
      content: "";
      width: 15px;
      height: 15px;
      position: absolute;
      top: 7px;
      right: 15px;
      border: 4px solid #d30c6f;
      border-width: 2px 2px 0 0;
      transition: all 0.3s;
      opacity: 0; }
    .navigation .nav__link:hover::before {
      left: -5px;
      bottom: -5px;
      opacity: 1; }
    .navigation .nav__link:hover::after {
      top: -5px;
      right: -5px;
      opacity: 1; }
    .navigation .nav__link:hover {
      background-color: #d30c6f; }

@keyframes heartBeat {
  0% {
    transform: scale(0.8); }
  100% {
    transform: scale(1.1); } }

.section {
  padding: 11rem 5rem; }
  @media only screen and (max-width: 56.25em) {
    .section {
      padding: 7rem 4rem; } }
  @media only screen and (max-width: 37.5em) {
    .section {
      padding: 5rem 3rem; } }
  .section--2, .section--4, .section--6 {
    background-color: #e9e8e8; }
  .section__heading {
    width: 550px;
    margin: 0 auto; }
    @media only screen and (max-width: 56.25em) {
      .section__heading {
        width: 70%; } }
    @media only screen and (max-width: 37.5em) {
      .section__heading {
        width: 90%; } }
  .section__para {
    font-size: 3rem;
    font-weight: 700;
    color: #484558;
    text-transform: capitalize;
    letter-spacing: -0.8px; }
    @media only screen and (max-width: 56.25em) {
      .section__para {
        font-size: 2.6rem; } }
    @media only screen and (max-width: 37.5em) {
      .section__para {
        font-size: 2rem; } }
